<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<property name="log.base" value="/Users/liuyou/Downloads/logtestsource" /> 
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level
				%logger.%M[%C{0}:%L] - %msg%n</pattern>
		</encoder>
	</appender>


	<appender name="FILELOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.base}/flow_genlog3.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>
				${log.base}/flow_genlog.log.%d{yyyy-MM-dd}.log
    		</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%level] %date [%thread] - %msg%n</pattern>
		</layout>
	</appender>

	<logger name="genlog" level="DEBUG" additivity="false">
		<appender-ref ref="FILELOG" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="WatcherSource" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

<logger name="root" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
</configuration>
